body {
    background-color:lightblue;
}
a{
    text-align:justify;
}
h1 {
    text-align: center;
    color: red;
}
form{
    text-align:center;
}
fieldset{
    margin:auto;
}
legend{
    margin-right:auto

}
p{
    text-align: center;
    color:darkgreen;
}